.body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100vw;
    height: 90vh;

    .Card {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background: #f1efef;
        }
    }
}